<%- include('templates/begin.ejs') %>
<h1 class="contact-title"><%= title %></h1>
    <div class="contact">

        
        <div class="map">
            
            <p><strong>GIMIBO.kft</strong><br>
                6000 Kecskemét Nyíri út 167.<br>
                +36 30 9585379<br>
                gimibo1@gmail.com</p>

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1616.135167723698!2d19.6456!3d46.924354!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4743d0ca1f88b465%3A0x3bd4c92bf6fc152a!2zR2ltaWJvIEtmdCAvIFV0w6FuZnV0w7MgZ3nDoXJ0w6FzLXN6ZXJ2w616LCB1dMOhbmZ1dMOzIGvDtmxjc8O2bnrDqXM!5e1!3m2!1shu!2sus!4v1712346014004!5m2!1shu!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    
       
        

        

    </div>

    <%- include('templates/end.ejs') %>