<%- include('templates/begin.ejs') %>
    <div class="container">
        

      


        <main>
            <article>
                <h1>Mivel is foglalkozik a GIMIBO kft.?</h1>
                
                <p class="intro">Utánfutó gyártás, javítás és bérbeadás.</p>

                <img  src="media/futo.jpg" alt="K-maxi xxl típusú álltalunk gyártott csónakszállító.">

                <p>Immáron több mint 20 éve foglalkozik cégünk utánfutó gyártással és javitással egyaránt.</p>

                <p class="intro">Torziós tengely javitás</p>

                <img src="media/tengely.jpg" alt="tengely">
                
                
                            <ul class="tengely">
                                <li>Torziós gumi csere</li>
                                <li>Fékek felújítása</li>
                                <li>Szükség esetén lengőkar csere</li>
                            </ul>
                

                

                <section>
                    <h2>Bemutatkozás</h2>
                    <p>
                        Bőszén Mihály vagyok. 2000-ben alapítottuk meg saját családi vállalkozásunkat, Kecskeméten, Gimibo Kft. néven. Ezt megelőzően közel 10 évet Magyarország legnagyobb utánfutó gyártójánál dolgoztam, ahol olyan széleskörű ismeretekre és tapasztalatokra tettem szert, amit a saját vállalkozásomban tudok kamatoztatni.
                        
                        Az utánfutókat megrendelésre gyártjuk, és forgalomba helyezve, 2 év garanciával adjuk át vevőinknek, az egyedi igényeket maximálisan figyelembe véve.</p>
                    <a href="/contact" class="more">Keressen bizalommal</a>
                </section>
            </article>
        </main>

        <aside>

            <section>
                <h3>Nyitvatartás</h3>
                    
                        <table class="opening">
                            <tr>
                              
                            </tr>
                            <tr>
                              <td>Hétfő</td>
                              <td>7:00 - 17:00</td>
                            </tr>
                            <tr>
                              <td>Kedd</td>
                              <td>7:00 - 17:00</td>
                            </tr>
                            <tr>
                              <td>Szerda</td>
                              <td>7:00 - 17:00</td>
                            </tr>
                            <tr>
                              <td>Csütörtök</td>
                              <td>7:00 - 17:00</td>
                            </tr>
                            <tr>
                              <td>Péntek</td>
                              <td>7:00 - 17:00</td>
                            </tr>
                            <tr>
                              <td>Szombat</td>
                              <td>7:00 - 12:00</td>
                            </tr>
                            <tr>
                              <td>Vasárnap</td>
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;Zárva</td>
                            </tr>
                          </table>
                    
                <a class="more2" href="/services">Tovább a kölcsönzéshez</a>
            </section>

            <section>
                <h3>Referenciáink</h3>
                <ul>
                    <!-- A "strong" címkével hangsúlyosabbá teszünk egy szöveget -->
                   
                    <li>Omega Autó Center Kft.</li>
                    <li>Magyar Kajak-Kenu Szövetség </li>
                    <li>Marosmenti Vállalkozók Szövetsége </li>
                    <li>Art-Óperencia Kft. </li>
                    <li>Kőrös-Maros Nemzeti Park Igazgatóság </li>
                    <li>Vízimentők Magyarországi Szakszolgálata </li>
                    <li>Nagymágocsi Farmer Kft. </li>    
                    <li>Nyárlőrinc Környéki Önkormányzat </li>
                    <li>Katona József Színház Kecskemét </li>
                </ul>
            </section>

        </aside>

    </div>

    <%- include('templates/end.ejs') %>