<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>GIMIBO.kft</title>
    <link rel="stylesheet" href="res/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-w..">
</head>
<body>
    
    <!-- Ez itt a fejléc -->
    <header>

        <div clacc="logo-background">
        <a href="/admin" class="logo">
            <img src="res/gimibo_logo.png" alt="Gimibo logo">
        </a>
        </div>
        <div class="welcome">
            <h1 class="welcome-text"><%= title %></h1>
        </div>
    </header>

    <nav>
        <ul>
            <li class="first-a"><a href="/">Kezdőlap</a></li>
            <li><a href="services">Kölcsönzés</a></li>
            
           
            <li><a href="gallery">Gyártás</a></li>
           
            <li><a href="contact">Kapcsolat</a></li>
        </ul>
    </nav>
