<footer id="myFooter">
        
        

    <section>
        <h4>Közösségi média</h4>
        <ul>
            
            <li><a href="https://www.facebook.com/utanfuto" target="_blank"><img class="footer_logo" src="res/Facebook_Logo.png" alt=""></a></li>
            
        </ul>
    </section>
    <section>
        <h4>Cégadatok</h4>
        <p><strong>GIMIBO.kft</strong><br>
        6000 Kecskemét Nyíri út 167.<br>
        +36 30 9585379<br>
        gimibo1@gmail.com</p>
    </section>
    <div class="logo-container" style="background-color: white;">
    <img class="footer_logo2" src="res/gimibo_logo.png" alt="GIMIBO embléma">
    </div>
</footer>

<script src="res/script.js"></script>


</body>
</html>